{% extends 'base.html' %}

{% block title %}Detalle de la tarea{% endblock %}

{% block content %}

    {% if todo %}
        <article>
            <header>
                <h3>{{ todo["title"] }}</h3>
            </header>
            <p>{{ todo["description"] | safe }}</p>
            <footer>
                <form method="post" action="{{ url_for('todo.detalle', todo_id=todo['todo_id']) }}" style="display:inline;">
                    <input type="hidden" name="state" value="{{ todo['completed'] }}">
                    <button type="submit">
                        {% if todo['completed']%}
                            Poner en pendiente
                        {% else %}
                            Completar Tarea
                        {% endif %}
                    </button>
                </form>

                <a role="button" style="margin-bottom: 20px; width: 100%;" href="{{ url_for('todo.editar', todo_id=todo['todo_id']) }}">
                    Editar Tarea
                </a>

                <form method="post" action="{{ url_for('todo.eliminar', todo_id=todo['todo_id']) }}" style="display:inline;">
                    <button type="submit" style="color:red;" onclick="return confirm('¿Estás seguro de que quieres eliminar esta tarea?');">Eliminar Tarea</button>
                </form>
            </footer>
        </article>
    {% else%}
        <p>¡Esta tarea no la puedes acceder!</p>
    {% endif %}

{% endblock %}